* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: rgb(98, 68, 56);
}

.header, .footer{
    background-color: rgba(35, 32, 32, 0.4);
    border-radius:3%;
}

h1, h2, h3, p, a{
    text-decoration:none;
    color:white;
}

img{
    display:block;
    max-width:100%;
    border-radius:2%;
}

/*end of useless*/

/*Header Things*/
.header {
    margin-top: 25px;
    margin-right:0;
    overflow:hidden;
    padding:25px;
    width:auto;
}

.navbar .logo .name{
    transform:translateY(40px);
    font-size: 25px;
    font-weight: bold;
}

.logo img, .logo a {
    display:inline;
    float:left;
    clear:right;
}
/*End of Header */

/* Start of Navbar */
.navbar__right{
    padding-top: 2.5%;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    float:right;
}

.navbar__right a{
    float: left;
    text-align: center;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding:10px;
    margin: 10px;
}

.navbar__right .active{
    background-color:rgb(219, 154, 114);
    color: white;
    border-radius:3%;
}

.navbar__right a:hover{
    background-color:rgba(60, 31, 17, 0.8);
    color:rgb(255, 255, 255);
    border-radius: 3%;
}

/* End of Navbar */


/* Start of Footer */
.footer{
    display:grid;
    margin-top:75px;
    padding: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.footer .footer_social_media{
    grid-column-start:5;
    grid-column-end: 7;
}

/* Social Media Icons*/
.footer .footer_social_media .icons .tiktokIcon, .facebookIcon, .youtubeIcon, .pinterestIcon{
    display:inline;
    margin-right:10px;
}


.footer p, .footer a{
    color:rgb(234, 173, 98);
}


/*End of footer */

/* " Responsive " */
@media screen and (max-width:1008px){
    .navbar__right{
        float:none;
        display:block;
        text-align:center;
        transform: translateY(100px);
    }
    .navbar__right a{
        display:block;
        float:none;
        padding:20px;
        margin-left:25%;
        margin-right:25%;
        text-align:center;
    }
    
    .header{
        padding-bottom:100px;
    }

    .footer{
        display:block;
    }
}
