/*image grid */
.menu{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 25px;
    margin: 1% 15% 0 15%;
  }

  .menu *{
    display:grid;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    margin-bottom:5px;
  }
  
  .menu a{
    color:white;
    text-decoration: none;
    background-color:rgb(41, 41, 41);
    padding:15px;
    border-radius:5%;
  }

  .menu > *:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:15px;
    background-color:rgba(0, 0, 0, 0.039);
  }

  .menu img{
    width:250px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  @media screen and (max-width: 650px) {
      .menu{
        display:block;
      }

      .menu .text{
          justify-content: center;
      }
  }
  /* ????? */